{% extends 'base.html.twig' %}

{% block title %}
Bestel pagina
{% endblock %}

{% block body %}
{% for order in orders %}
    <h1 class="text-center">Uw bestelling overzicht:</h1>
    <h3 class="text-center fw-lighter">{{ order.name }}</h3>
    <h3 class="text-center fw-lighter">{{ order.streetname }}</h3>
    <h3 class="text-center fw-lighter">{{ order.postcode }}</h3>
    <h3 class="text-center fw-lighter">{{ order.city }}</h3>
    <h3 class="text-center fw-lighter">{{ order.price }}</h3>
    <h3 class="text-center fw-lighter">{{ order.size }}</h3>
    <a href="{{ path('delete_product', {id: order.id}) }}" class="btn btn-danger">Delete</a>
    {% endfor %}
{% endblock %}

